@using AutoMapper
@using BusinessLogicalLayer.Interfaces
@using Shared
@using VisualLayer.Controllers.Funcionario
@model VisualLayer.Models.Funcionario.FuncionarioDetailViewModel

@{
    ViewData["Title"] = "Configuracao";
}
<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Configurações </title>
    <link rel="stylesheet" href="~/css/Adm/Configuracao.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">Open Minds</span>
        </div>
        <div class="sidebar">
            <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">Open Minds</span>
            </div>

            <div class="sidebar-content">
                <ul class="lists">
                    <li class="list">
                        <a class="nav-link" asp-area="" asp-controller="Funcionario" asp-action="Index">
                            <i class='bx bx-grid-alt icon'></i>
                            <span class="link">Empresa</span>
                        </a>
                    </li>
                    <li class="list">
                        <a class="nav-link" asp-area="" asp-controller="Funcionario" asp-action="Funcionarios">
                            <i class='bx bx-user icon'></i>
                            <span class="link">Funcionarios</span>
                        </a>
                    </li>
                    <li class="list">
                        <a class="nav-link" asp-area="" asp-controller="Funcionario" asp-action="Configuracao">
                            <i class='bx bx-cog icon'></i>
                            <span class="link">Configurações</span>
                        </a>
                    </li>
                </ul>
                <div class="bottom-cotent">
                    <li class="list">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LogOff">
                            <i class="bx bx-log-out icon"></i>
                            <span class="link">Log-out</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </nav>

    <section class="overlay"></section>
    <section class="home-section">
        <h1>Configuracao</h1>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Foto)
                </dt>
                <dd class="col-sm-10">
                    <img src="@Model.Foto" alt="" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cpf)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cpf)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataNascimento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cep)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cep)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumeroCasa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumeroCasa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rua)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rua)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Complemento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Complemento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Bairro)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Bairro)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cidade)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cidade)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
            </dl>
        </div>

        <div class="Senha">
            <input type="button" class="botao" value="Senha" class="form-control" />
            <div class="Senha-content">
                <div name="Senha">
                    <label>Senha</label>
                    <input type="password" id="Senha" />
                    <label>Confirmar Senha</label>
                    <input type="password" id="ConfirmarSenha" />
                    <div class="form-group">
                        <button onclick="alterarSenha();">AlterarSenha</button>
                    </div>
                    <label></label>
                    <label id="Erros"></label>
                </div>
            </div>
        </div>
        <section class="SenhaSection"></section>
    </section>

    <script>

        const navBar = document.querySelector("nav"),
            menuBtns = document.querySelectorAll(".menu-icon"),
            overlay = document.querySelector(".overlay");

        menuBtns.forEach((menuBtn) => {
            menuBtn.addEventListener("click", () => {
                navBar.classList.toggle("open");
            });
        });

        overlay.addEventListener("click", () => {
            navBar.classList.remove("open");
        });


        //const navSenha = document.querySelector("div"),
        //    senhaBtns = document.querySelectorAll(".Senha"),
        //    senha = document.querySelector(".SenhaSection");

        //senhaBtns.forEach((senhaBtn) => {
        //    senhaBtn.addEventListener("click", () => {
        //        navSenha.classList.toggle("open");
        //    });
        //});

        //senha.addEventListener("click", () => {
        //    navSenha.classList.remove("open");
        //});


    </script>

</body>
</html>
@section Scripts
{
<script>
 function alterarSenha() 
    {
        var erros = document.getElementById("Erros");
        erros.innerHTML = "";
        var senha1 = document.getElementById("Senha").value;
        var senha2 = document.getElementById("ConfirmarSenha").value;
        if(senha1 !== "" && senha2 !== "")
        {       
          if (senha1 === senha2) 
          {
            if (senha1.length >= 8)
            {
                $.ajax
                ({
                    type: "POST", //HTTP POST Method
                    url: "/Funcionario/AlterarSenha", // Controller/View
                    data: { senha: senha1 },
                    success: function (response) 
                    {
                      if(response.Value.HasSuccess) 
                      {
                        erros.innerHTML = "Sucesso";
                      }
                      else if(!response.Value.HasSuccess) 
                      {
                           erros.innerHTML = "Erro catastrofico";
                      }
                    }            
                });
            }
            else 
            {
                erros.innerHTML = "Senha deve conter pelo menos 8 digitos";
            }
          }
          else 
          {
          erros.innerHTML = "Senhas devem ser iguais";
          }
        }
        else
        {
        erros.innerHTML = "Senha deve ser informada";
        }
}
</script>
}

