@model VisualLayer.Models.Funcionario.FuncionarioUpdateViewModel
@using BusinessLogicalLayer.API
@using Entities
@using Entities.Enums
@{
    ViewData["Title"] = "Update";
    string procurar = "";
    var a = "89015-360";
    List<Estado> estados = ViewBag.Estados;
}
<head>
    <link rel="stylesheet" href="~/css/Funcionario/FuncionariosUpdate.css">
    <meta charset="UTF-8" />
    <title>Update</title>
</head>

<div class="infohead" style="align-items: center;">Update</div>
<div>
    <form enctype="multipart/form-data" asp-action="Update"> 
    <dl class="row">
        <dt  class="col-sm-8" style="align-content: center;">
            <img src="@Model.Foto" alt="" style="width:75px; height:75px;"/>
            @*<label asp-for="Image" class="control-label"></label>*@
            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @type="file"} })
            <span asp-validation-for="Image" class="text-danger"></span>
        </dt>
        <dt class="col-sm-8 ">
             <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
             <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" for="input_cep" onblur="buscaCep()" name="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            <label asp-for="NumeroCasa" class="control-label"></label>
                <input asp-for="NumeroCasa" for="input_numero_residencia" class="form-control" />
                <span asp-validation-for="NumeroCasa" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            <label asp-for="EstadoUf" class="control-label">Estado</label>
                <select asp-for="EstadoUf" class="form-control">
                    @for (int i = 0; i < estados.Count; i++)
                    {
                        @if (@estados[i].Sigla == Model.EstadoUf)
                        {
                            <option value="@estados[i].Sigla" selected>@estados[i].Sigla</option>
                        }
                        else
                        {
                            <option value="@estados[i].Sigla">@estados[i].Sigla</option>
                        }

                    }
                </select>
                <span asp-validation-for="EstadoUf" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            @{
                string[] generos = Enum.GetNames<Genero>();
            }
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <select asp-for="Genero" class="form-control">
                    @for (int i = 0; i < generos.Length; i++)
                    {
                        @if (@generos[i] == Model.Genero.ToString())
                        {
                            <option value="@generos[i]" selected>@generos[i]</option>
                        }
                        else
                        {
                            <option value="@generos[i]">@generos[i]</option>
                        }
                    }
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
        </dt>

        <dt class="col-sm-8 ">
            @{
                string[] estadosCivis = Enum.GetNames<EstadoCivil>();
            }
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <select asp-for="EstadoCivil" class="form-control">
                    @for (int i = 0; i < estadosCivis.Length; i++)
                    {
                        @if (@estadosCivis[i] == Model.EstadoCivil.ToString())
                        {
                            <option value="@estadosCivis[i]" selected>@estadosCivis[i]</option>
                        }
                        else
                        {
                            <option value="@estadosCivis[i]">@estadosCivis[i]</option>
                        }
                    }
                </select>
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
        </dt>
        <div>
            <input style="margin: 10px;" type="submit" class="btn btn-secondary btn-sm" value="Save"/>
        </div>
        </form>
        @if (ViewBag.Errors != null)
        {
            <div class="form-group">
                <p class="bg-warning">
                    @ViewBag.Errors
                </p>
            </div>
        }

    </dl>
</div>

@section Scripts
    {
<script>
    function limpa_formulario_cep() {
        $("#EstadoId").removeAttr("disabled");
        $("#EstadoId option[selected]").removeAttr("selected");
        $("#EstadoId #empty").attr("selected", "");
        $("#Cidade").val("");
        $("#Cidade").removeAttr("disabled");
        $("#Bairro").val("");
        $("#Bairro").removeAttr("disabled");
        $("#Rua").val("");
        $("#Rua").removeAttr("disabled");
    };
    function buscaCep() {
        var code = $("#Cep").val().replace(/\D/g, '');
        if (code.length === 8) {
            var url = "https://viacep.com.br/ws/" + code + "/json/";
            $.getJSON(url, function (dados) {
                if (!("erro" in dados)) {
                    $("#Cep").removeClass("is-invalid");
                    var option = $("option[value = " + dados.uf + "]");
                    option.attr("selected", "");
                    //$("#EstadoId").attr("disabled", "");
                    $("#Cidade").val(dados.localidade);
                    //$("#Cidade").attr("disabled", "");
                    if (dados.bairro !== "") {
                        $("#Bairro").val(dados.bairro);
                        //$("#Bairro").attr("disabled", "");
                    } else {
                        $("#Bairro").val("");
                        //$("#Bairro").removeAttr("disabled");
                    }
                    if (dados.logradouro !== "") {
                        $("#Rua").val(dados.logradouro);
                        //$("#Rua").attr("disabled", "");
                    } else {
                        $("#Rua").val("");
                        //$("#Rua").removeAttr("disabled");
                    }
                }
                else {
                    limpa_formulario_cep();
                    Cep.addClass("is-invalid");
                }
            });
        } else {
            limpa_formulario_cep();
        }
    }
</script>
}
