@model VisualLayer.Models.Funcionario.FuncionarioUpdateViewModel
@using BusinessLogicalLayer.API
@using Entities
@{
    ViewData["Title"] = "Update";
    string procurar = "";
    var a = "89015-360";
    List<Estado> estados = ViewBag.Estados;
}
<h1>Update</h1>

<h4>FuncionarioUpdateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">                
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" name="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="NumeroCasa" class="control-label"></label>
                <input asp-for="NumeroCasa" class="form-control" />
                <span asp-validation-for="NumeroCasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label">Estado</label>
                <select asp-for="EstadoId" class="form-control">
                    @for (int i = 0; i < estados.Count; i++)
                    {
                        @if (@estados[i].ID == Model.EstadoId)
                        {
                            <option value="@estados[i].ID" selected>@estados[i].Sigla</option>
                        }
                        else
                        {
                            <option value="@estados[i].ID">@estados[i].Sigla</option>
                        }
                        
                    }
                </select>
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                 @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @type="file"} })  
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Errors != null)
        {
            <div class="form-group">
                <p class="bg-warning">
                    @ViewBag.Errors
                </p>
            </div>
        }
    </div>
</div>
<script>
function limpa_formulario_cep(){
    state.removeAttr("disabled");
    $("#state option[selected]").removeAttr("selected");
    $("#state #empty").attr("selected", "");
    Cidade.val("");
    Cidade.removeAttr("disabled");
    Bairro.val("");
    Bairro.removeAttr("disabled");
    Rua.val("");
    Rua.removeAttr("disabled");
};  
Cep.keyup(function (){
    var code = $(this).val().replace(/\D/g, '');
    if(code.length === 8){
        var url = "https://viacep.com.br/ws/" + code + "/json/";
        $.getJSON(url, function (dados){
            if(!("erro" in dados)){
                Cep.removeClass("is-invalid");
                var option = $("option[value = "+dados.uf +"]");
                option.attr("selected", "");
                state.attr("disabled", "");
                Cidade.val(dados.localidade);
                if(dados.bairro !== ""){
                    document.getElementById("Bairro").value = dados.bairro;
                    Bairro.attr("disabled", "");
                }else{
                    document.getElementById("Bairro").value = "";
                    Bairro.removeAttr("disabled");
                }
                if(dados.logradouro !== ""){
                    Rua.val(dados.logradouro);
                    Rua.attr("disabled", "");
                }else{
                    Rua.val("");
                    Rua.removeAttr("disabled");
                }
            }
            else{
                limpa_formulario_cep();
                Cep.addClass("is-invalid");
            }
        });
    }else{
        limpa_formulario_cep();
    }
});
</script>
@*@section Scripts {
         
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
           
    }*@
    
