@using VisualLayer.Models.Funcionario
@model VisualLayer.Models.Funcionario.FuncionarioUpdateAdmViewModel

@{
    ViewData["Title"] = "Edit";
    FuncionarioUpdateAdmViewModel funcionario = ViewBag.Funcionario;
    List<Entities.Cargo> cargos = ViewBag.Cargos;
}
<head>
    <title>
        Editar
    </title>
</head>
<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" value="@funcionario.Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" value="@funcionario.Email"  class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="CargoId" class="control-label">Cargo</label>
                <select asp-for="CargoId" class="form-control" >
                    @for (int i = 0; i < cargos.Count; i++)
                    {
                        @if (@cargos[i].ID == funcionario.CargoId) {
                            <option value="@cargos[i].ID" selected>@cargos[i].Funcao</option>
                        }
                        else{
                            <option value="@cargos[i].ID">@cargos[i].Funcao</option>
                        }                        
                    }
                </select>
                <span asp-validation-for="CargoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" value="@funcionario.Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a>
                    <i class='bx bx-user'></i>
                    <input type="button" value="Resetar Senha" class="form-control" onclick="@("window.location.href='" + @Url.Action("ResetarSenha", "Adm",funcionario) + "'");"/>
                </a>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Errors != null)
        {
            <div class="form-group">
                <p class="bg-warning">
                    @ViewBag.Errors
                </p>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Funcionarios">Back to List</a>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#telefone").inputmask("mask", { "mask": "(99) 9999-99999" });
            $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
            $("#cep").inputmask("mask", { "mask": "99999-999" });
            $("#nascimento").inputmask("mask", { "mask": "99/99/9999" });
            $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
            $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });
            $("#ip").inputmask("mask", { "mask": "999.999.999.999" });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
