@model IEnumerable<VisualLayer.Models.Funcionario.FuncionarioSelectViewModel>

@{
    ViewData["Title"] = "Funcionarios";
}
<link rel="stylesheet" href="~/css/Funcionario/Funcionarios.css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<head>
    <title> Funcionarios </title>
</head>
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">Nossa Empresa</span>
    </div>
    <ul class="nav-links">
        <li>
            <a asp-area="" asp-controller="Adm" asp-action="Index">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Controle Empresa</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-box'></i>
                <span class="links_name">Produtos</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-list-ul'></i>
                <span class="links_name">Lista de Pedidos</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Análises</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">Estoque</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-book-alt'></i>
                <span class="links_name">Total de Pedidos</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Funcionario" asp-action="Funcionarios" class="active">
                <i class='bx bx-user'></i>
                <span class="links_name">Funcionarios</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-message'></i>
                <span class="links_name">Messages</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-heart'></i>
                <span class="links_name">Favrorites</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                <span class="links_name">Setting</span>
            </a>
        </li>
        <li class="log_out">
            <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section">
     <h1>Funcionarios</h1>

    <p>
    <a asp-action="Criar">Create New</a>
    </p>
        @*<div class="cabecalho">*@
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroCasa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rua)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Complemento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bairro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroCasa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rua)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Complemento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bairro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataNascimento)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    @*</div>*@
</section>
