@model IEnumerable<VisualLayer.Models.Funcionario.FuncionarioSelectViewModel>
@using Shared.Extensions;

@{
    ViewData["Title"] = "Funcionarios";
    string id = ViewBag.ID;
}
<link rel="stylesheet" href="~/css/Adm/Funcionarios.css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<head>
    <title> Funcionario </title>
</head>

<nav>
    <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">Open Minds</span>
    </div>
    <div class="sidebar">
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">Open Minds</span>
        </div>

        <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                    <a class="nav-link" asp-area="" asp-controller="Adm" asp-action="Index">
                        <i class='bx bx-grid-alt icon'></i>
                        <span class="link">Empresa</span>
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link" asp-area="" asp-controller="Adm" asp-action="Funcionarios">
                        <i class='bx bx-user icon'></i>
                        <span class="link">Funcionarios</span>
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link" asp-area="" asp-controller="Adm" asp-action="Analises">
                        <i class='bx bx-pie-chart-alt-2 icon'></i>
                        <span class="link">Análises</span>
                    </a>
                </li>
                <li class="list">
                    <a class="nav-link" asp-area="" asp-controller="Adm" asp-action="Configuracao">
                        <i class='bx bx-cog icon'></i>
                        <span class="link">Configurações</span>
                    </a>
                </li>
            </ul>
            <div class="bottom-cotent">
                <li class="list">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LogOff">
                        <i class="bx bx-log-out icon"></i>
                        <span class="link">Log-out</span>
                    </a>
                </li>
            </div>
        </div>
    </div>
</nav>

<section class="overlay"></section>

<section class="home-section">

    <div class="flex">
        <div class="contains">
            <div class="box-contains">
                <div class="box">
                    <h1>Funcionarios</h1>
                    <p>
                        <a asp-action="Cadastrar">Cadastrar novo Funcionario</a>
                    </p>
                    <div class="form">
                         <div class="form-group">
                        <input type="text" class="form-control form-input" placeholder="Pesquisar">
                        </div>
                        <i class="fa fa-search icon"></i>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <div class="content">
        <table class="rTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cargo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstadoCivil)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Salario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsAtivo)
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataNascimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo.Funcao)
                        </td>
                        <th>
                             @Html.DisplayFor(modelItem => item.Genero)
                        </th>
                        <th>
                             @Html.DisplayFor(modelItem => item.EstadoCivil)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAtivo)
                        </td>
                        <td>
                            @if (id != item.Id)
                            {
                                @Html.ActionLink("Editar", "Editar", new {  id= item.Id}, new{@class="btn btn-secondary btn-sm"})
                            }
                            @Html.ActionLink("Detalhar", "Detalhar", new {  id= item.Id }, new{@class="btn btn-secondary btn-sm"})
                            @Html.ActionLink("Requisitar Update","RequisitarUpdate", new {id = item.Id}, new{@class="btn btn-secondary btn-sm"})
                            @if (id != item.Id)
                            {
                                @if (item.IsAtivo)
                                    @Html.ActionLink("Desativar","Desativar", new {id = item.Id}, new{@class="btn btn-secondary btn-sm"})
                                @if (!item.IsAtivo)
                                    @Html.ActionLink("Ativar","Ativar", new {id = item.Id}, new{@class="btn btn-secondary btn-sm"})
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   <script>
        //      function myFunction() {
        //    var input, filter, tr, th, textValue;
        //    input = document.getElementById("teste").value;
        //    filter = input.value;
        //    rTable = document.getElementById("myTable");
        //    tr = tr.getElementsByTagName("tr");
        //    for (i = 0; i < tr.length; i++) {
        //        th = rTable[i].getElementsByTagName("th")[0];
        //        if(th){
        //        txtValue = th.textContent || th.innerText;
        //            if (txtValue.toUpperCase().indexOf(filter) > -1) {
        //                txtValue = a.textContent || a.innerText;
        //                rTable.[i].style.display = "";
        //            } else {
        //                th.[i].style.display = "None";
        //                    }
        //              }
        //    }
        //}
                const navBar = document.querySelector("nav"),
                    menuBtns = document.querySelectorAll(".menu-icon"),
                    overlay = document.querySelector(".overlay");
                menuBtns.forEach((menuBtn) => {
                    menuBtn.addEventListener("click", () => {
                        navBar.classList.toggle("open");
                    });
                });
                overlay.addEventListener("click", () => {
                    navBar.classList.remove("open");
                });
    </script>
</section>
