@model IEnumerable<VisualLayer.Models.Funcionario.FuncionarioSelectViewModel>
@using Shared.Extensions;

@{
    ViewData["Title"] = "Funcionarios";
}
<link rel="stylesheet" href="~/css/Funcionario/Funcionarios.css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<head>
    <title> Funcionarios </title>
</head>
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
         <a asp-area="" asp-controller="Home" asp-action="Index">
        <span class="logo_name">Nossa Empresa</span>
        </a>
    </div>
    <ul class="nav-links">
        <li>
            <a asp-area="" asp-controller="Adm" asp-action="Index">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Controle Empresa</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-box'></i>
                <span class="links_name">Produtos</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-list-ul'></i>
                <span class="links_name">Lista de Pedidos</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Análises</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">Estoque</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-book-alt'></i>
                <span class="links_name">Total de Pedidos</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Funcionario" asp-action="Funcionarios" class="active">
                <i class='bx bx-user'></i>
                <span class="links_name">Funcionarios</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-message'></i>
                <span class="links_name">Messages</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-heart'></i>
                <span class="links_name">Favrorites</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                <span class="links_name">Setting</span>
            </a>
        </li>
        <li class="log_out">
            <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section">
    <h1>Funcionarios</h1>

    <p>
        <a asp-action="Criar">Create New</a>
    </p>
    @*<div class="cabecalho">*@
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cargo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo.Funcao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Editar", new {  id= item.Id }) |
                        @Html.ActionLink("Details", "Detalhar", new {  id= item.Id }) |
                        @Html.ActionLink("Requisitar Update","RequisitarUpdate", new {id = item.Id})
                        @Html.ActionLink("Delete", "Delete", new {  id=item.Id   })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*</div>*@
</section>
